



# STRIPE_SECRET_KEY = "sk_test_51NM2LlFWmfVVioImvykGibYoNR85yPu9vVnOmU2Y8zVSVMWt9vkR1zPvbZRTnJvHzeaL8hDpEYTaOFSgwAZfNzMy00aclATmIh"

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STATIC_DIR="../html"
DOMAIN="http://localhost:4242"
STRIPE_WEBHOOK_SECRET=<replace-with-your-webhook-secret>

